.navbar {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.bg-hero {
    background-image: url(/assets/images/hero-enhance.jpeg);
}

.bg-hero::after {
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0)
    );
    position: absolute;
    bottom: 0;
}

.head-subtitle {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.box-mitra {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #fff;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

.slide-img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
}
